
<div>

     <table>
        <tr>
            <td style="width: 84%;"> <h1>MakeMyVisit.com</h1> </td>
            
            <td style="width: 13%;"> <h3>Welcome <b><i> {{username}} </i></b></h3> </td>
            <td> <a href="#">logout</a> </td>
        </tr>
    </table>
 
    <div style="margin-left: 80%;">
        <table>
            <tr>
                <td> <div> {{doThings()}}    </div> </td>
                <td> <div> {{5+5}}    </div> </td>
                <td> <div> {{status?"online":"offline"}}    </div> </td>
                
            </tr>
        </table>
         
        

        
    </div>
</div>
